@import '../../mixins.scss';
.homeHero {
  background-image: url('../../backgrounds/HerofondoDark.svg');
  background-size: contain;
  background-position: 'top';
  height: auto;

  @include for-desktop-up {
    background-image: url('../../backgrounds/HeroBackHome.svg');
    height: 100%;
    background-position: top;
  }
}
