@import '../../mixins.scss';
.homeHero {
  background-image: url('./HerofondoDark.svg');
  background-size: cover;
  background-position: 'top';

  margin-top: -50px;

  @include for-desktop-up {
    background-image: url('./HeroBackHome.svg');
    height: 100%;
    background-position: top;
  }
}
