.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
  background: transparent;

  &__hamburger {
    color: #ffffff;
    height: 42px;
    width: 42px;
    margin-right: -5px;
  }
}
